.total{
    background-color: whitesmoke;
    padding-top: 10px;
    width: 100%;
    height: 150px;
    position: relative;
    margin:5px;
    box-shadow: 5px;
  
  }
  .list-1{
    align-items: left;
    position: absolute;
    z-index: 3;
  }
  .list-2{
    text-align: right;
    position: absolute;
    float: right;
    padding-left: 400px;
  }
  
  .list1{
    color: #ff1493;
  }